
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Lato&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
.container{
    background: #535c68;
    width:85% ;
    margin: auto;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
}





