@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+TAS+Beginner&family=Kenia&family=Oswald:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family: 'Kenia', sans-serif;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
header{
    background:transparent;
    padding: 20px 0;
    color: aliceblue;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.container{
width: 85%;
margin: auto;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{width: 15%;

}
.manu{width: 80%;

}
.manu ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    
    

}
.manu ul li{}

.manu ul li a{
    padding: 0 20px;
    color: aliceblue;
    text-transform: uppercase;
    
}
/* bannar section */
.bannar-section{
    background: url(images/white.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

}
.bannar-content{
    color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.bannar-content h1{
    font-size:50px ;
margin-bottom: 30px;}
.bannar-content a{
color: white;
border: 5px solid #fff;
padding: 10px 20px;
text-transform: uppercase;
transition: 0.5;
}
.bannar-content a:hover{
    background: #fff;
    color: black;

}